*{
text-decoration: none;
color: black;
font-family: "Helvetice Neue", Helvetice, Arial, sans-serif;
}

body{]
position:absolut;
max-width:50%;
margin: 0 auto;
}


h1{
 font-size: 20px;
 position:relative;
 display: inline-block;
}

.subjects{
display: inline-block;
position: absolut;
margin:20px;
}
.consub{
width:200px;
height: 200px;
display: inline;
}
.subjects ol{
position:relative;
font-size: 20px;
padding-bottom: 20px;
background: white;
border-radius: 15px;
padding:20px;
padding-left:35px;

box-shadow:
inset 0 0 100px hsla(0,0%,0%,.2),
inset 0px 1px 5px #999,
inset 0px 2px 0px #888,
inset 0px 2px 0px #777,
inset 0px 3px 0px #666,
inset 0px 4px 0px #555,
inset 0px 5px 0px #444,
inset 0px 7px 0px #333,
inset 0px 8px 7px #001135;

}

.subjects ol li{

}

.subjects h3{
position:relative;
margin: 10px 0px 10px 0px;
font-size: 30px;
text-align:center;
color: width;

}


.menu{
position:relative;
display: inline;
width:200px;
}

.log{
text-color: black;
font-size: 20px;

background: white;
position:relative;
position:right;
border-radius:10px;
display: inline-block;


padding:10px 20px 10px 20px;
border: none;

box-shadow:
inset 0 0 100px hsla(0,0%,0%,.2),
inset 0px 1px 5px #999,
inset 0px 2px 0px #888,
inset 0px 2px 0px #777,
inset 0px 3px 0px #666,
inset 0px 4px 0px #555,
inset 0px 5px 0px #444,
inset 0px 7px 0px #333,
inset 0px 8px 7px #001135;
}

.log:hover{
cursor:pointer;

box-shadow:
inset 0 0 670px hsla(0,0%,0%,.1),
inset 0px 1px 2px #999,
inset 0px 2px 0px #888,
inset 0px 2px 0px #777,
inset 0px 3px 0px #666,
inset 0px 4px 0px #555,
inset 0px 5px 0px #444,
inset 0px 7px 0px #333,
inset 0px 8px 7px #001135;
}



.log_menu{
position:absolut;
padding:20px;
top:10%;

border-radius:10px;
box-shadow:
inset 0 0 670px hsla(0,0%,0%,.1),
inset 0px 1px 2px #999,
inset 0px 2px 0px #888,
inset 0px 2px 0px #777,
inset 0px 3px 0px #666,
inset 0px 4px 0px #555,
inset 0px 5px 0px #444,
inset 0px 7px 0px #333,
inset 0px 8px 7px #001135;

}


.log_menu label{
position:absolut;
font-size: 12px;
margin-right:100%;
}

.log_menu input{


}
