{% extends 'base.html'%}
{%block content%}
<div calss="menu">
    <h1>Регbстрируйтесь</h1></div>
<form>
    <div class="log_menu">
{%csrf_token%}
        <p>Username: {{form.username}}</p>
        <p>Email: {{form.email}}</p>
        <p>Password: {{form.password1}}</p>
        <p>Repeat your password: {{form.password2}}</p>
        <div class="regist">
    <a class="g" href="{% url 'login'%}">log</a>
        </div>
        </div>
    </form>
<button type="submit"><a href="">reg</a></button>
{% endblock %}
